
<div class="row">
    <div *ngFor="let item of _movieListService.movieList" class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3" >
        <app-gallery 
            [movie]="item"
            (clickRating)="saveState()">
        </app-gallery>
    </div>
</div>


