
 :root {
    //--bg-primary-color: #d3d3d35e;
    //--bg-secondary-color:#000000c9;
    --header-primary-color: rgb(30, 33, 34);
    --header-secondary-color: linear-gradient(220.55deg, #5EE2FF 0%, #00576A 100%);
    --select-bg-color: rgba(208, 208, 208, 0.6);
    --text-primary-color: #000000b3;
    --text-secondary-color: #c6d4d9;

 }

 body[data-theme='light']{
   --bg-color: #d3d3d35e;
   --text-color: #000000b3;
 }

body[data-theme='dark']{
   --bg-color: #000000c9;
   --text-color: #c6d4d9;
}
 

 /*
$bg-primary-color: #d3d3d35e;
$bg-secondary-color:#000000c9;

$header-primary-color: rgb(30, 33, 34);
$header-secondary-color: #008fbbcc;

$select-bg-color: rgba(208, 208, 208, 0.6);

$text-primary-color: #000000b3;
$text-secondary-color: #c6d4d9;
*/









