<p>Lista de películas favoritas</p>

<div class="row">
    <ng-container *ngFor="let movie of _movieListService.movieList">
        <div    
            *ngIf="movie.favorite"
            class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3" >
            <app-gallery [movie]="movie"></app-gallery>
        </div>
    </ng-container>
</div>