
<div class="footer">
    <h1 class="d-flex justify-content-center mt-5 mb-5">Datos recogidos de:</h1>
    <img class="d-flex align-self-center w-25 mb-5" src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_short-8e7b30f73a4020692ccca9c88bafe5dcb6f8a62a4c6bc55cd9ba82bb2cd95f6c.svg" alt="Tmdb">
</div>
