.menu{
    background-color: var(--header-primary-color);
	
    &__title{
        color: var(--text-secondary-color);
    }

    &__nav {
        min-height: 65px;
        background: var(--header-secondary-color);
        color: var(--text-primary-color);
    }

	&__nav a::before,
	&__nav a::after {
		display: inline-block;
		opacity: 0;
		-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
		-moz-transition: -moz-transform 0.3s, opacity 0.2s;
		transition: transform 0.3s, opacity 0.2s;
	}

	&__nav a::before {
		margin-right: 10px;
		content: '[';
		-webkit-transform: translateX(20px);
		-moz-transform: translateX(20px);
		transform: translateX(20px);
	}

	&__nav a::after {
		margin-left: 10px;
		content: ']';
		-webkit-transform: translateX(-20px);
		-moz-transform: translateX(-20px);
		transform: translateX(-20px);
	}

	&__nav a:hover::before,
	&__nav a:hover::after,
	&__nav a:focus::before,
	&__nav a:focus::after {
		opacity: 1;
		-webkit-transform: translateX(0px);
		-moz-transform: translateX(0px);
		transform: translateX(0px);
	}

    &__nav--menuitems{
        text-decoration: none;
        color: var(--text-secondary-color);
    }

}


