
<div class="menu">

    <h1 class="menu__title d-flex justify-content-center pt-3">¡Bienvenido a tu web de películas!</h1>
    <div>
        <app-switch-theme></app-switch-theme>
    </div>
    
    <nav class="menu__nav d-flex justify-content-center mt-3 mb-5 pt-3 pb-3">
        <a  *ngFor="let item of MenuItems"
        [routerLink]="[item.route]"
        class="mx-3 menu__nav--menuitems"
        >{{item.name}}</a>
    </nav>
</div>