.div{    
    height: 200px;
    border-width: 20px;
    border-color: blue;
    border-radius:20px;
    font-size: 40px;
    background-color: linear-gradient(220.55deg, #5EE2FF 0%, #00576A 100%);
    box-shadow: 7px 7px 15px #9c6a27;
}

.hola{
    background: linear-gradient(220.55deg, #5EE2FF 0%, #00576A 100%);
}

.container{
    position: relative;
    display: inline-block;
	max-width: 1000px;
}

.select{
    position: absolute;
    top: 5%;
    left: 95%;
}

.cl-effect-1 a::before,
.cl-effect-1 a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.cl-effect-1 a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}