
.gallery{
    
    position: relative;
    max-width: 350px;
    margin:5px;
    margin-bottom: 30px;
    padding: 0px;
    border-radius:5%;    
    box-shadow: 7px 7px 15px #746f69;
    cursor: pointer;
    

    &__select{
        position: absolute;
        top: 5%;
        right: 15%;
        padding:5px;
        color: var(--text-primary-color);
        background-color: rgba(208, 208, 208, 0.6);
        border-radius: 5px;
    }

    &__image{
        width: 100%;
        border-radius: 5%;
        
    };

    &__image:hover{
        filter: blur(3px);
    }

    &__text{
        align-self: center;
        margin-top: 10px;
        font-size: 15px;
        //font-weight: 600;
    }
    


}



