
<div class="gallery">
    <img class="gallery__image" routerLink="/pelicula/{{movie.id}}" src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/{{movie.poster_path}}" alt="">            
    <div 
        class="gallery__select"                    
        *ngIf="showSelect">    
        <span class="pi pi-ellipsis-v" 
        (click)="selected()"></span>
        <div>
            <div *ngIf="selectValue" class="d-flex flex-column">               
                    <div    (click)="clickFavorite(movie)"
                            [ngClass]="{'pi': true, 'pi-star': (movie.favorite  !== true), 'pi-star-fill': (movie.favorite === true)}"></div>                   
                    <div    (click)="clickPending(movie)"
                            [ngClass]="{'pi': true, 'pi-flag': (movie.pending  !== true), 'pi-flag-fill': (movie.pending === true)}"></div>
                    <div    (click)="clickWatched(movie)"
                            [ngClass]="{'pi': true, 'pi-eye': (movie.watched  !== true), 'pi-eye-slash': (movie.watched === true)}"></div>               
            </div>
        </div>
    </div>
</div>
