
<div class="d-flex detail">
    <div class="row">
   
        <div class="col-4">
            <img class="detail__img" src="{{poster_path}}" alt=""> 
        </div>
        
        <div class="col-8">     
            <div class="px-5">
                <p class="title">Título</p>
                <p>{{movieData.title}}</p>

                <div>
                    <p class="title">Compañía</p>
                    <p *ngFor="let companie of movieData.production_companies">
                        {{companie.name}}
                    </p>
                </div>

                <p class="title">Fecha de lanzamiento</p>
                <p>{{movieData.release_date}}</p>

                <p class="title">Sinopsis </p>
                <p>{{movieData.overview}}</p>

                <p class="title">Género</p>
                <div class="d-flex">
                    <div *ngFor="let item of movieData.genres">
                        <div class="gender d-flex px-2">{{item.name}}</div>                        
                    </div>                
                </div>
            </div>
        </div>
    </div>
</div>
