.detail{
    &__img{
        min-width: 100%;
        margin-bottom: 50px;
    }

}

.title{
    font-size: 20px;
    font-weight: 600;
    margin:0px;
}

.gender{
    background: var(--header-secondary-color);
    border-radius: 50px;
    margin:5px;
    padding:5px;
    
}